.navbar{
    width: 260px;
    height: 100vh;
    margin-left: -200px;
    position: fixed;
    transition: 0.5s;
    background-color: rgb(189, 189, 189);
}

.home{
    transition: 0.5s;
}

.nav-link{
    font-size: 1.25rem;
    color: white;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover{
    background-color:  rgb(189, 189, 189);
    color: white;
    text-decoration: none;
}


.collapse-menu{
    background-color:  rgb(189, 189, 189);
    
}

.collapse-item{
    color: white;
}

.collapse-item:active,
.collapse-item:focus,
.collapse-item:hover{
    background-color:  rgb(189, 189, 189);
    color: white;
    text-decoration: none;
}

.active-nav{
    margin-left: 0;
}

.active-home{
    margin-left: 260px !important;
}

.btn-nav{
    margin: 15px 0px 0px 110px;
}
.btn-nav:hover{
    cursor: pointer;
}

.swal2-title{
    font-size: 15px !important;
}

.swal2-html-container{
    font-size: 12px !important;
}

.swal2-modal{
    width: 300px !important;
    height: 360px !important;
}


@media (max-width: 1280px) {
    .navbar {
        background-color: transparent;
        z-index: 10;
    }

    .active-nav{
        background-color: rgb(189, 189, 189);
    }

    .active-home{
        margin-left: 0px !important;
    }

    .collapse-menu{
        background-color: transparent;
    }   

  }





